#textdomain wesnoth-Eastern_Europe_at_War

[era]
    id=era_eeaw_{EEAW_VERSION}
    name= _ "Eastern Europe at War"

    {RANDOM_SIDE}
    {MP_SIDE eeaw polacy}
    {MP_SIDE eeaw kozacy}
    {MP_SIDE eeaw szwedzi}
    {MP_SIDE eeaw turcy}
    {MP_SIDE eeaw tatarzy}
    {MP_SIDE eeaw rosjanie}
    {MP_SIDE eeaw austriacy}
    
    #ulepszony mechanizm rekrutacji by inferno8 v2.0

	[event]
		name=side turn
		first_time_only=no
		
		[if]
            [variable]
                name=turn_number
                equals=1
            [/variable]
            [then]
            [store_side]
                variable=side_check
                side=$side_number
            [/store_side]
            
            {VARIABLE player_$side_number|_list $side_check.recruit}
            [/then]
        [/if]
	[/event]
	
    [event]
        name=recruit
        first_time_only=no
    
        [store_side]
            variable=side_check
            side=$side_number
        [/store_side]
        
        [if]
        [variable]
            name=side_check.controller
            equals=ai
        [/variable]
        [then]
        #wykonaj skrypt
            [if]
            [have_unit]
                type=$unit.type
                count="1-99999"
            [/have_unit]
            [then]
                [disallow_recruit]
                    side=$side_number
                    type=$unit.type
                [/disallow_recruit]
				
				[store_side]
					variable=side_check2
					side=$side_number
				[/store_side]
		
				{VARIABLE player_$side_number|_list2 $side_check2.recruit}
				
				[if]
				[variable]
					name=player_$side_number|_list2
					equals=""
				[/variable]
				[then]
					[allow_recruit]
						side=$side_number
						type=$player_$side_number|_list
					[/allow_recruit]
				[/then]
				[/if]
            [/then]
            [/if]
        [/then]
        [/if]
    [/event]
[/era]
