#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=kz Wielki Tabor
    name= _ "Great Tabor"
    race=mechanical
    gender=male
    image="Kozacy/tabor-wielki.png"
    ellipse="misc/ellipse"
    profile="portraits/Jason_Lutes/human-peasant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=85
    movement_type=armoredfoot
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=28
    usage=mixed fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    #{DEFENSE_ANIM "units/human-peasants/peasant-defend.png" "units/human-peasants/peasant.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=spisy
        description=_"spears"
        type=pierce
        range=melee
        damage=12
        number=4
        icon=attacks/javelin-orcish.png
    [/attack]
    [attack]
        name=samopaly
        description=_"rifles"
        type=pierce
        range=ranged
        damage=9
        number=4
        icon=attacks/thunderstick.png
    [/attack]
{PISTOL_SOUND}
{SPEAR_SOUND}
    [defense]
    swamp_water=80
    [/defense]
    [resistance]
        blade=80
        pierce=50
        impact=120
        fire=120
    [/resistance]
    [abilities]
        {ABILITY_TABOR3}
    [/abilities]
[/unit_type]
