#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=pl Pancerny
    name= _ "Armoured"
    race=Polacy
    gender=male
    image="Polacy/pancerny.png"
    ellipse="misc/ellipse"
    profile="portraits/Jason_Lutes/human-peasant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=mounted
    movement=8
    experience=40
    level=1
    alignment=lawful
    advances_to=pl Pancerny Towarzysz
    cost=21
    usage=scout
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    #[defense]
	#	shallow_water=70
	#	swamp_water=70
		flat=50
	#	sand=70
	#	forest=60
	#	hills=30
	#	mountains=70
	#	village=40
	#	castle=50
	#	cave=80
	#	frozen=50
	#	fungus=80
	#[/defense]
	[defense]
	   flat=50
	   hills=40
         swamp_water=70
	[/defense]
	[resistance]
            blade=70
            pierce=80
            #impact=90
            #fire=110
            #cold=110
            #arcane=80
    [/resistance]
    #{DEFENSE_ANIM "units/human-peasants/peasant-defend.png" "units/human-peasants/peasant.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=saber
        description=_"saber"
        type=blade
        range=melee
        damage=7
        number=3
        icon=attacks/saber-human.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        range=ranged
        damage=5
        number=3
        icon=attacks/bow.png
    [/attack]
{SABER_SOUND}
{BOW_SOUND}
[/unit_type]
