#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=pl Wybraniecki2
    name= _ "Older Chosen Infantryman"
    race=Polacy
    gender=male
    image="Polacy/wybranieckiweteran.png"
    ellipse="misc/ellipse"
    profile="portraits/Jason_Lutes/human-peasant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    #{DEFENSE_ANIM "units/human-peasants/peasant-defend.png" "units/human-peasants/peasant.png" {SOUND_LIST:HUMAN_OLD_HIT} }
[defense]
frozen=60
[/defense]
[movement_costs]
frozen=1
[/movement_costs]
    [attack]
        name=saber
        description=_"saber"
        type=blade
        range=melee
        damage=7
        number=4
        icon=attacks/saber-human.png
    [/attack]
    [attack]
        name=arkebuz
        description=_"arguebus"
        type=pierce
        range=ranged
        damage=20
        number=1
        icon=attacks/thunderstick.png
        [specials]
        {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
{PISTOL_SOUND}
{SABER_SOUND}
[/unit_type]
